//COLORS

$color-white : #fff;

$color-purple-dark: #602080;
$color-purple-light: #b030b0;

$color-pink: #550255;
$color-pinkA: #b801b880;

$color-yellow: #f6fa00;

$color-blue-grey-light: #5bc8af;
$color-blue-grey-dark:#6c91bf;
$color-blue-dark: #202060;

$color-grey-dark: #777;
$color-white: #fff;

$color-black: #000000;
$color-blackA1: #00000066;
$color-blackA2: #e71a1af3;

//FONT
$default-font-size: 1.6rem;

//GRID;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

