.mainheader{
    height: calc(100vh - 7rem);
    background-image: url('./../../img/portada.jpg');
    background-size: cover;
    background-position: top;

    &:before{
        content: "";
        position: absolute;//nos obliga a posicionar todo
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color-blackA1;
    }

    &-logo{
        padding: 2rem;
        width: 10rem;
        height: 10rem;
        position: relative;//obligado por oscurecer fondo
    }

    &-navegation{
        width: 60rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5rem;
        position: relative;//obligado por oscurecer fondo

        &_menu {
            list-style: none;
            font-size: 2rem;
            font-weight: bold;
        }
        &_menu a {
            color: $color-white;
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size 1s
        }
        &_menu a:hover{
            background-size: 100% 2px;
            color: $color-pink;
        }
    }

    &-titlebox{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: -3rem;
        height: 60vh;
        color: $color-white;
        text-transform: capitalize;
        position: relative;//obligado por oscurecer fondo

        &__main{
            display: block;
            font-size: 5rem;
            font-weight: 700;
            padding: 2rem 4rem 0 4rem;
            transition: transform 0.5s;
        }

        &__secondary{
            display: block;
            font-size: 1.5rem;
            font-weight: 400;
            letter-spacing: 0.4rem;
            padding: 0 4rem 2rem 4rem;
            transition: transform 1s;
        }

        &__main:hover, &__secondary:hover{
            transform: scale(1.1);
        }
    }

    &-reservation{
        display: flex;
        justify-content: center;
        margin-top: -3rem;
        //background-color: yellowgreen;
        padding: 1rem;
        position: relative;//obligado por oscurecer fondo


        &__date{
            font-size: 2rem;
            border: none;
            border-bottom: 0.1rem solid $color-white;
            background: none;
            margin-right: 2rem;
            padding: 0.5rem;
            width: 19rem;
            outline: none;
            color: $color-white;
            transition: 250ms width ease, 250ms border-color ease;
            cursor: pointer;

            &:hover{
                width: 21rem;
            }
            &:focus{
                width: 23rem;
                border-color: $color-pink;
            }
        }
        & input[type="date"]::-webkit-calendar-picker-indicator{
            filter: invert(1);
        }
    }
}


.section-tournaments{
    font-family: Lato;
    padding: 10rem 1rem;
    background-color: $color-white;
    clip-path: polygon(0 0, 50% 5%,100% 0, 100% 100%, 0 100%);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;

    @include respond(tab-land) {
        //clip-path: polygon(0 0, 50% 2%,100% 0, 100% 100%, 50% 102%, 0 100%);
    }

    @include respond(tab-port) {
        //clip-path: polygon(0 0, 50% 1%,100% 0, 100% 100%, 50% 101%, 0 100%);
    }
}

.section-booking{
    width: 60%;
    margin: 0 auto;
    background-color: rgb(92, 91, 91);
    opacity: 80%;
    border-radius: 10px;

    @include respond(tab-land){
        width: 100%;
        border-radius: 0;
        clip-path: polygon(0 5%, 100% 0, 100% 95%,0 100%);
    }

    @include respond(tab-port){
        clip-path: polygon(0 3%, 100% 0, 100% 97%,0 100%);
    }
}