.booking-wrap{
    @include respond(tab-land){
        filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));
    }
}

.booking{
    height: 60rem;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include respond(tab-land){
        border: 1px solid grey;
        
    }

    &__image{
        height: inherit;
        width: 40%;
        background-image: url("../../img/mando2.jpg");
        background-position: 75%;
        background-size: cover;
        left: 0;
        top: 0;
        clip-path: ellipse(80% 80% at 2% 50%);
        position: absolute;
        float: left;
        opacity: 80%;

        @include respond(tab-land){
            width: 0;
        }
    }

    &__form{
        width: 60%;
        height: inherit;
        color: white;
        font-size: 2rem;
        letter-spacing: 0.1rem;
        padding: 2rem;
        margin-right: 5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        @include respond(tab-land){
            position: absolute;
            padding: 0;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);  
            color: white;         
        }

        & p{
            background-image: linear-gradient(to right, #f9376b 20%, orange);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-size: 2.5rem;

            @include respond(tab-land){

            }

            @include respond(tab-port){

            }
        }

        &__dates{
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            & p{
                align-self: center;
            }

            & .error{
                display: block;
                font-size: 1.2rem;
                color: rgb(255, 93, 93);
            }
        }

        &__rooms{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            &__group{
                display: flex;
                justify-content: flex;
                align-items: center;
                gap: 1rem;
            }

            &--radio{
                &__input{
                    display: none;
                }

                &__label{
                    cursor: pointer;
                }

                &__button {
                    height: 3rem;
                    width: 3rem;
                }
            }
        }

        &__input{
            &--submit{
                //Hacer lo de la página https://css-tricks.com/css-ing-candy-ghost-buttons/
                
                --full: linear-gradient(red 0 0);
                border: solid .25em transparent;
                padding: 1rem 1.5rem;
                border-radius: 9rem;
                background: 
                    linear-gradient(to right bottom, orange, #f9376b) 
                        border-box;
                text-transform: uppercase;

                @supports (-webkit-mask-clip: text) {
                    -webkit-text-fill-color: transparent;
                    -webkit-mask: var(--full) text, var(--full) padding-box, var(--full);
                    -webkit-mask-composite: xor;
                }

                &:hover{
                    cursor: pointer;
                    transform: translateY(-2px);
                    
                }


                @include respond(tab-land){
                    padding: 1rem 1.5rem;
                    font-size: 2rem;
                }

                @include respond(tab-port){
                    font-size: 3rem;
                }
            }
        }
    }
}