.booking-wrap{
    @include respond(tab-land){
        filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));
    }
}


.booking{
    height: 60rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;

    @include respond(tab-land){
        border: 1px solid grey;
        height: 85rem;
    }

    @include respond(tab-port){
        height: 95rem;
    }

    &__image{
        height: inherit;
        width: 40%;
        background-image: url("../../img/mando2.jpg");
        background-position: 75%;
        background-size: cover;
        left: 0;
        top: 0;
        clip-path: ellipse(80% 80% at 2% 50%);
        position: relative;
        float: left;
        opacity: 80%;

        @include respond(tab-land){
            width: 0;
        }
    }

    &__form{
        width: 60%;
        height: inherit;
        background-color: transparent;
        position: relative;
        float: right;
        right: 1rem;
        color: white;
        font-size: 2rem;
        letter-spacing: 0.1rem;
        text-align: right;
        margin-top: 8rem;
        padding-right: 2rem;

        @include respond(tab-land){
            position: absolute;
            padding: 0;
            width: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);  
            color: white;         
        }

        & p{
            background-image: linear-gradient(to right, #f9376b 20%, orange);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-size: 2.5rem;
            text-align: left;

            @include respond(tab-land){
                position: relative;
                text-align: center;
                left: 50%;
                transform: translate(-50%, 0);
                font-size: 4rem;
                font-weight: 900;
                margin-bottom: 2.5rem;
            }

            @include respond(tab-port){
                font-size: 3.5rem;
                margin-bottom: 5rem;
                font-weight: 900;
            }

        }

        &-group{
            padding-right: 55%;
            position: relative;
            text-align: right;
            left: 50%;
            transform: translate(-50%, 0);
            
            @include respond(tab-land){
                font-size: 3.5rem;
                padding-right: 25%;
                margin-bottom: 2rem;
            }

            @include respond(tab-port){
                padding-right: 15%;
                font-size: 3rem;
                margin-bottom: 5rem;
            }

            &__input{
                border-bottom: 5px solid transparent;

                @include respond(tab-port){
                    font-size: 3rem;
                }
                
                &:focus {
                    outline: none;
                    border-bottom: 5px solid orange;
                    box-shadow: rgba($color-purple-light, 0.56) 0px 22px 70px 4px; ;
                }
            }

            &--radio{
                padding-left: 10%;
                text-align: left;

                &__input{
                    display: none;
                }

                &__label{
                    cursor: pointer;
                }

                &__button {
                    height: 3rem;
                    width: 3rem;
                    border-radius: 5px;
                    background-image: url(../../img/check.png);
                    background-position-y: center;
                    background-size: cover;
                    display: inline-block;
                    left: 0;
                    top: -0.4rem;
    
                    &::after {
                        content: "";
                        background-position-y: center;
                        background-size: cover;
                        display: block;
                        height: 3rem;
                        width: 3rem;
                        background-image: url(../../img/checked.png);
                        opacity: 0;
                        transition: opacity 0.2s;
                    }
                }

                &__input:checked~&__label &__button::after{
                    opacity: 1;
                }

                @include respond(tab-land){
                    padding-left: 45%;
                    position: relative;
                    text-align: left;
                    left: 50%;
                    transform: translate(-50%, 0);
                }

                @include respond(tab-port){
                    font-size: 3rem;
                }
            }
        }

        &__input{
            &--submit{
                //Hacer lo de la página https://css-tricks.com/css-ing-candy-ghost-buttons/
               /* position: relative;
                top: 3rem;
                width: 10%;
                min-width: fit-content;
                
                background: transparent;
                border: 3px solid $color-purple-light;
                padding: 1rem;
                border-radius: 10%;
                color: white;
                font-size: 2rem;*/

                
                position: absolute;
                left: 10rem;
                --full: linear-gradient(red 0 0);

                margin: 1rem auto;
                border: solid .25em transparent;
                padding: 1rem 1.5rem;
                border-radius: 9rem;
                background: 
                    linear-gradient(to right bottom, orange, #f9376b) 
                        border-box;
                text-transform: uppercase;

                @supports (-webkit-mask-clip: text) {
                    -webkit-text-fill-color: transparent;
                    -webkit-mask: var(--full) text, var(--full) padding-box, var(--full);
                    -webkit-mask-composite: xor;
                }

                &:hover{
                    cursor: pointer;
                    transform: translateY(-2px);
                    
                }


                @include respond(tab-land){
                    width: fit-content;
                    padding-left: 40%;
                    position: absolute;
                    width: fit-content;
                    left: 50%;
                    transform: translate(-50%, 0);
                    padding: 1rem 1.5rem;
                    font-size: 2rem;
                }

                @include respond(tab-port){
                    font-size: 3rem;
                    right: 50%;
                }
            }
        }
    }
}