.btn{
    &--more{
        position: relative;
        cursor: pointer;

        &::before, 
        &::after{
            content:"";
            width: 0;
            height: 2px;
            position: absolute;
            transition: all 0.2s linear;
            background: currentColor;
        }
        
        & .text::before, 
        & .text::after{
            content:"";
            width:2px;
            height:0;
            position: absolute;
            transition: all 0.2s linear;
            background: currentColor;
        }

        &:hover::before, &:hover::after{
            width: 100%;
        }

        &:hover .text::before, &:hover .text::after{
            height: 100%;
        }

        &::before, &::after{
            transition-delay: 0s;
        }

        & .text::before, & .text::after{
            transition-delay: 0.2s;
        }

        &::before{
            right: 0;
            top: 0;
        }

        &::after{
            left: 0;
            bottom: 0;
        }

        & .text::before{
            left: 0;
            top: 0;
        }

        & .text::after{
            right: 0;
            bottom: 0;
        }

        &:hover::before, &:hover::after{
            transition-delay: 0.2s;
        }

        &:hover .text::before, &:hover .text::after{
            transition-delay: 0s;
        }
    }

    &__count{
        background-color: rgba(245, 179, 242, 0.5);
        color: black;
        padding: 1rem 2rem;
        border-radius: 50%;
        font-size: 1.6rem;

        &--add{
            background-color: purple;
            color: white;
            cursor: pointer;

            &:hover{
                background-color: rgba(117, 30, 113, 0.5);
                color: black;
            }
        }
    }

    &--add{
        background-color: purple;
        color: white;
        cursor: pointer;

        &:hover{
            background-color: rgba(117, 30, 113, 0.5);
            color: black;
        }
    }
}