.btn{

    &--tournament{
        align-self: center;
        margin-bottom: 2rem;
        
        padding: 1rem 2rem;
        border-radius: 2rem;
        border: none;
        
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.2rem;
        font-size: 1.5rem;
        font-weight: 900;
        background: linear-gradient(to left, $color-purple-light, $color-purple-dark);
        color: white;
        cursor: pointer;

        &:hover{
            transform: translateY(-2px);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
    }
    &--more{
        position: relative;
        cursor: pointer;

        &::before, 
        &::after{
            content:"";
            width: 0;
            height: 2px;
            position: absolute;
            transition: all 0.2s linear;
            background: currentColor;
        }
        
        & .text::before, 
        & .text::after{
            content:"";
            width:2px;
            height:0;
            position: absolute;
            transition: all 0.2s linear;
            background: currentColor;
        }

        &:hover::before, &:hover::after{
            width: 100%;
        }

        &:hover .text::before, &:hover .text::after{
            height: 100%;
        }

        &::before, &::after{
            transition-delay: 0s;
        }

        & .text::before, & .text::after{
            transition-delay: 0.2s;
        }

        &::before{
            right: 0;
            top: 0;
        }

        &::after{
            left: 0;
            bottom: 0;
        }

        & .text::before{
            left: 0;
            top: 0;
        }

        & .text::after{
            right: 0;
            bottom: 0;
        }

        &:hover::before, &:hover::after{
            transition-delay: 0.2s;
        }

        &:hover .text::before, &:hover .text::after{
            transition-delay: 0s;
        }
    }

    &__count{
        background-color: rgba(245, 179, 242, 0.5);
        color: black;
        padding: 1rem 2rem;
        border-radius: 50%;
        font-size: 1.6rem;

        &--add{
            background-color: purple;
            color: white;
            cursor: pointer;

            &:hover{
                background-color: rgba(117, 30, 113, 0.5);
                color: black;
            }
        }
    }

    &--add{
        background-color: purple;
        color: white;
        cursor: pointer;

        &:hover{
            background-color: rgba(117, 30, 113, 0.5);
            color: black;
        }
    }
}